.home-page {
    padding: 12px;
}

.products-grid {
    display: grid;
    /* Две колонки с равной шириной и отступом */
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

/* Скелетон для эффекта загрузки */
.skeleton-card {
    background-color: var(--tg-theme-secondary-bg-color, #f3f3f3);
    border-radius: 12px;
    height: 250px; /* Примерная высота карточки */
    animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
    0% {
        background-color: var(--tg-theme-secondary-bg-color, #f3f3f3);
    }
    50% {
        background-color: #e0e0e0;
    }
    100% {
        background-color: var(--tg-theme-secondary-bg-color, #f3f3f3);
    }
}

.end-of-list {
    text-align: center;
    padding: 20px;
    color: var(--tg-theme-hint-color, #999999);
}
.product-link {
    text-decoration: none; /* Убираем подчеркивание */
    color: inherit; /* Наследуем цвет текста */
}
.cart-fab {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    z-index: 1000;
}

.cart-fab-badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}